<html>
<head></head>
<body>
<table style="background-color: grey; width: 550px;">
	<tbody>
		<tr>
			<td>
				<table style="background-color: white; width: 500px;">
					<tbody>
						<tr>
							<td>
								HELLO <%=@comment.post.user.email%> a new comment has been created on your post!
							</td>
						</tr>
					</tbody>
				</table>
			</td>


		</tr>


	</tbody>


</table>	



</body>


</html>